*
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}
#homePage button{
    color: white;
    margin-right: 2rem;
    background-color: blue;
    border-radius: 0.3rem;
    padding: 0.5rem 2rem;
    font-size: medium;
   
}


#newUserPage label{
    font-size: medium;
    font-weight: bold;
    
}
#newUserPage{
    display: none;
}
#newUserPage input{
    height: 1.5rem;
    margin-bottom: 1rem;
}
#newUserPage button{
    width: 5rem;
    height: 2rem;
    background-color: blue;
    color: white;
    font-size: medium;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
}
 #signin{
    display: none;
} 
#signin button{
    width: 5rem;
    height: 2rem;
    background-color: blue;
    color: white;
    font-size: medium;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
}
#submenu button{
    width: 19%;
    border: none;
    height: 3rem;
    font-size: large;
    background-color: transparent;
}
#submenu{
    display: none;
}
#submenu button:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}
#Borrowbook{
    display: none;
}
#history
{
    display: none;
}
#recharge
{
    display: none;

}
#balance
{
    display: none;
}
/* #countForm
{
    display: none;
} */